# This is a systemd file to run the user interface script on startup
[Unit]
Description=althea-demo
Requires=babeld.service
After=babeld.service

[Service]
Type=simple
TimeoutStartSec=10s

{% if 'intermediary' in group_names %}

ExecStart=/usr/bin/python {{ansible_env.HOME}}/intermediary.py

{% else %}

ExecStart=/usr/bin/python {{ansible_env.HOME}}/client-gateway.py

{% endif %}

KillSignal=/bin/kill -9 $MAINPID

[Install]
WantedBy=default.target
