# This is a systemd file to run the althea-demo script on startup
[Unit]
Description=althea-demo
Requires=babeld.service
After=babeld.service

[Service]
Type=simple
TimeoutStartSec=10s
ExecStart=/bin/bash {{ansible_env.HOME}}/traffic-generator.sh
User=pi
KillSignal=/bin/kill -9 $MAINPID

[Install]
WantedBy=default.target
